.colors {
  height: 100px;
  width: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  top: 2rem;
  right: -8px;
  box-shadow: var(--box-shadow2);
  background-color: var(--secondary-color);
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row div {
  height: 20px;
  width: 20px;

  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

