.new-note {
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.new-note:hover{
    background-color: var(--primary-color2);
}
